p
  small.timestamp #{timestamp}
  case name
    when 'sentinel'
      b.label.label-important #{name}
    when 'dealer'
      b.label.label-success #{name}
    default
      b #{name}:
  &nbsp;
  span #{message}
